# Generate data to plot
In this example 5 features will be generated.

The idea is that the last 3 features will be plot its trend across the time. And aditional the initial 2 features can be plotted in the plot according the interest of the user.

In this example I will use time series data getting from yahoo finances

In [1]:
import os
# fix root path to save outputs
actual_path = os.path.abspath(os.getcwd())
list_root_path = actual_path.split('/')[:-1]
root_path = '/'.join(list_root_path)
os.chdir(root_path)
print('root path: ', root_path)

root path:  /Users/joseortega/Documents/GitHub/Plotly-interactive-reports

## RUN

In [2]:
# !pip install yfinance

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf

### 0. Index data time series
Day data

In [4]:
# start date and end datedate_range
start_date = '2023-08-28'
end_date = '2024-03-23'

# generate date range
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# show
#print(date_range)

### 1. Generate 1° feature - syp500 stock price

In [5]:
# Especifica el símbolo bursátil de la empresa
symbol = "^GSPC"

# Descarga los datos históricos utilizando yfinance
stock_data = yf.download(symbol, 
                         start = start_date, 
                         end = end_date
                        )

# Crea un DataFrame de pandas con los datos descargados
data_feature = pd.DataFrame(stock_data)

# get close price to data
data_feature1 = data_feature[['Close']]
data_feature1.columns = [symbol]

[*********************100%%**********************]  1 of 1 completed

### 1. Generate 2° feature - nasdaq 100

In [6]:
# Especifica el símbolo bursátil de la empresa
symbol = "^NDX"

# Descarga los datos históricos utilizando yfinance
stock_data = yf.download(symbol, 
                         start = start_date, 
                         end = end_date
                        )

# Crea un DataFrame de pandas con los datos descargados
data_feature = pd.DataFrame(stock_data)

# get close price to data
data_feature2 = data_feature[['Close']]
data_feature2.columns = [symbol]

[*********************100%%**********************]  1 of 1 completed

### 3. Generate 3° feature - Dow Jones Industrial Average (^DJI

In [7]:
# Especifica el símbolo bursátil de la empresa
symbol = "^DJI"

# Descarga los datos históricos utilizando yfinance
stock_data = yf.download(symbol, 
                         start = start_date, 
                         end = end_date
                        )

# Crea un DataFrame de pandas con los datos descargados
data_feature = pd.DataFrame(stock_data)

# get close price to data
data_feature3 = data_feature[['Close']]
data_feature3.columns = [symbol]

[*********************100%%**********************]  1 of 1 completed

### 4. Generate 4° feature - stock prices to comapre the index prices: nvidia stock price

In [8]:
# Especifica el símbolo bursátil de la empresa
symbol = "NVDA"

# Descarga los datos históricos utilizando yfinance
stock_data = yf.download(symbol, 
                         start = start_date, 
                         end = end_date
                        )

# Crea un DataFrame de pandas con los datos descargados
data_feature = pd.DataFrame(stock_data)

# get close price to data
data_feature4 = data_feature[['Close']]
data_feature4.columns = [symbol]

[*********************100%%**********************]  1 of 1 completed

### 5. Generate 5° feature - stock prices to comapre the index prices: apple stock price

In [9]:
# Especifica el símbolo bursátil de la empresa
symbol = "AAPL"

# Descarga los datos históricos utilizando yfinance
stock_data = yf.download(symbol, 
                         start = start_date, 
                         end = end_date
                        )

# Crea un DataFrame de pandas con los datos descargados
data_feature = pd.DataFrame(stock_data)

# get close price to data
data_feature5 = data_feature[['Close']]
data_feature5.columns = [symbol]

[*********************100%%**********************]  1 of 1 completed

### 6. Generate 6° feature - stock prices to comapre the index prices: TSLA stock price

In [10]:
# Especifica el símbolo bursátil de la empresa
symbol = "TSLA"

# Descarga los datos históricos utilizando yfinance
stock_data = yf.download(symbol, 
                         start = start_date, 
                         end = end_date
                        )

# Crea un DataFrame de pandas con los datos descargados
data_feature = pd.DataFrame(stock_data)

# get close price to data
data_feature6 = data_feature[['Close']]
data_feature6.columns = [symbol]

[*********************100%%**********************]  1 of 1 completed

### 7. Join into one dataframe

In [11]:
data = pd.DataFrame(index = date_range)

In [12]:
data = pd.merge(data, data_feature1, left_index=True, right_index=True)
data = pd.merge(data, data_feature2, left_index=True, right_index=True)
data = pd.merge(data, data_feature3, left_index=True, right_index=True)
data = pd.merge(data, data_feature4, left_index=True, right_index=True)
data = pd.merge(data, data_feature5, left_index=True, right_index=True)
data = pd.merge(data, data_feature6, left_index=True, right_index=True)

In [13]:
data

,^GSPC,^NDX,^DJI,NVDA,AAPL,TSLA
2023-08-28,4433.310059,15052.459961,34559.980469,468.350006,180.190002,238.820007
2023-08-29,4497.629883,15376.549805,34852.671875,487.839996,184.119995,257.179993
2023-08-30,4514.870117,15462.429688,34890.238281,492.640015,187.649994,256.899994
2023-08-31,4507.660156,15501.070312,34721.910156,493.549988,187.869995,258.079987
2023-09-01,4515.770020,15490.860352,34837.710938,485.089996,189.460007,245.009995
...,...,...,...,...,...,...
2024-03-18,5149.419922,17985.009766,38790.429688,884.549988,173.720001,173.800003
2024-03-19,5178.509766,18032.199219,39110.761719,893.979980,176.080002,171.320007
2024-03-20,5224.620117,18240.109375,39512.128906,903.719971,178.669998,175.660004
2024-03-21,5241.529785,18320.380859,39781.371094,914.349976,171.369995,172.820007
2024-03-22,5234.180176,18339.439453,39475.898438,942.890015,172.279999,170.830002

In [14]:
data.isnull().sum()

^GSPC    0
^NDX     0
^DJI     0
NVDA     0
AAPL     0
TSLA     0
dtype: int64

### 8. Save data as pkl

In [15]:
path_data = 'data/data.pkl'
data.to_pickle(path_data)

## Generate a config file
Generate a configuration file to indicate which are the principal features to plot and which features are the secondary that it will use as auxiliar info to compare with the principal features

In [16]:
# the last column indicate if the trend is principal and plot always or it is secondary as auxiliar and use to explain the principal features

In [17]:
df_show_report = pd.DataFrame()
df_show_report['stock'] = ["^GSPC", "^NDX", "^DJI", "NVDA", "AAPL", "TSLA"]
df_show_report['name_to_show'] = ["s&p500", "nazdaq100", "downjones", "nvidia", "apple", "tesla"]
df_show_report['show_report'] = [ "Yes", "Yes", "Yes", "No", "No", "No"]
df_show_report

   stock name_to_show show_report
0  ^GSPC       s&p500         Yes
1   ^NDX    nazdaq100         Yes
2   ^DJI    downjones         Yes
3   NVDA       nvidia          No
4   AAPL        apple          No
5   TSLA        tesla          No

In [18]:
# save
path_config_file = 'data/config_show_report.xlsx'
df_show_report.to_excel(path_config_file, index = True)